In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [10]:
file_paths = ['/Users/bhaanaveecs/Documents/Quantium/quantium-starter-repo/data/daily_sales_data_0.csv', '/Users/bhaanaveecs/Documents/Quantium/quantium-starter-repo/data/daily_sales_data_1.csv', '/Users/bhaanaveecs/Documents/Quantium/quantium-starter-repo/data/daily_sales_data_2.csv']

In [12]:
all_data = pd.concat([pd.read_csv(f) for f in file_paths], ignore_index=True)
print("Successfully combined all data.")
print("\nCombined DataFrame Info:")
all_data.info()

Successfully combined all data.

Combined DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41160 entries, 0 to 41159
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   product   41160 non-null  object
 1   price     41160 non-null  object
 2   quantity  41160 non-null  int64
 3   date      41160 non-null  object
 4   region    41160 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.6+ MB

In [15]:
all_data.sample(5)

                 product  price  quantity        date region
30796       lapis morsel  $1.99       412  2021-02-09  north
36997     magenta morsel  $2.50       497  2021-09-19  south
32745  chartreuse morsel  $3.00       444  2021-04-20  south
13741   vermilion morsel  $4.99       588  2019-06-11  south
37934   vermilion morsel  $4.99       447  2021-10-22   east

In [16]:
pink_morsels_df = all_data[all_data['product'] == 'pink morsel'].copy()
pink_morsels_df['price'] = pink_morsels_df['price'].str.replace('$', '', regex=False).astype(float)
pink_morsels_df['Sales'] = pink_morsels_df['quantity'] * pink_morsels_df['price']
final_output = pink_morsels_df[['Sales', 'date', 'region']]

In [17]:
print("Data processing complete. The final DataFrame has been created.")
print("\nFirst 5 rows of the processed data:")
print(final_output.head())

Data processing complete. The final DataFrame has been created.

First 5 rows of the processed data:
     Sales        date region
0   1638.0  2018-02-06  north
1   1647.0  2018-02-06  south
2   1731.0  2018-02-06   east
3   1557.0  2018-02-06   west
28  1587.0  2018-02-07  north

In [18]:
output_file_name = 'processed_data.csv'
final_output.to_csv(output_file_name, index=False)
print(f"Final data successfully saved to '{output_file_name}'.")

Final data successfully saved to 'processed_data.csv'.